ul {
  list-style: none; }
  ul li {
    padding: 10px;
    background-color: forestgreen; }
    ul li .clase {
      text-decoration: none;
      font-size: 30px; }

div {
  background-color: forestgreen;
  border: 1px solid red;
  width: 550px; }
  div .bloque1 {
    background-color: forestgreen;
    width: 450px; }

p {
  color: blue; }

.disco-1 {
  width: 100px;
  background-image: url("disco1.jpg"); }

.disco-2 {
  width: 100px;
  background-image: url("disco2.jpg"); }

.disco-3 {
  width: 100px;
  background-image: url("disco3.jpg"); }

.disco-4 {
  width: 100px;
  background-image: url("disco4.jpg"); }

.disco-5 {
  width: 100px;
  background-image: url("disco5.jpg"); }

.disco-6 {
  width: 100px;
  background-image: url("disco6.jpg"); }

.disco-7 {
  width: 100px;
  background-image: url("disco7.jpg"); }

.disco-8 {
  width: 100px;
  background-image: url("disco8.jpg"); }

.disco-9 {
  width: 100px;
  background-image: url("disco9.jpg"); }

.disco-10 {
  width: 100px;
  background-image: url("disco10.jpg"); }

.disco-11 {
  width: 100px;
  background-image: url("disco11.jpg"); }

.disco-12 {
  width: 100px;
  background-image: url("disco12.jpg"); }

.disco-13 {
  width: 100px;
  background-image: url("disco13.jpg"); }

.disco-14 {
  width: 100px;
  background-image: url("disco14.jpg"); }

.disco-15 {
  width: 100px;
  background-image: url("disco15.jpg"); }

.disco-16 {
  width: 100px;
  background-image: url("disco16.jpg"); }

.disco-17 {
  width: 100px;
  background-image: url("disco17.jpg"); }

.disco-18 {
  width: 100px;
  background-image: url("disco18.jpg"); }

.disco-19 {
  width: 100px;
  background-image: url("disco19.jpg"); }

.facebook-icon {
  background-image: url("img/iconos/facebook.jpg"); }

.twitter-icon {
  background-image: url("img/iconos/twitter.jpg"); }

.instagram-icon {
  background-image: url("img/iconos/instagram.jpg"); }

.btn--twitter {
  background-color: aqua; }

.btn--facebook {
  background-color: blue; }

.btn--instagram {
  background-color: orange; }
