$fondo: forestgreen;
$border-caja: 1px solid red;
$ancho: 1100px;
$animal: gato;
$i: 1;

ul {
    list-style: none;
    li {
        padding: 10px;
        background-color: $fondo;
        .clase {
            text-decoration: none;
            font-size: 30px;
        }
    }
}
div {
    background-color: $fondo;
    border: $border-caja;
    width: $ancho/2;
    .bloque1 {
        background-color: $fondo;
        width: ($ancho/2)-100;
    }
}
p {
    @if $animal == gato {
        color: blue;
    } @else if $animal==perro {
        color: red;
    } @else if $animal==serpiente {
        color: green;
    } @else {
        color: gray;
    }
}
@for $i from 1 to 20 {
    .disco-#{$i} {
        width: 100px;
    background-image: url("disco"+$i+ ".jpg")
    }
}
@each $redessociales in facebook, twitter, instagram {
    .#{$redessociales}-icon {
        background-image: url("img/iconos/"+$redessociales+".jpg")
    }   
}
$colores: (
    twitter: aqua,
    facebook: blue,
    instagram: orange,
);
@each $name-color, $bgcolor in $colores {
    .btn--#{$name-color} {
        background-color: $bgcolor;
    }
}